numpy==2.4.4
pandas==3.0.3
pillow==12.2.0
matplotlib==3.10.9
seaborn==0.13.2
opencv-python==4.13.0.92
tqdm==4.67.3
albumentations==2.0.8
timm==1.0.26
torch==2.11.0
torchvision==0.26.0
streamlit==1.59.2
scikit-learn==1.8.0
